{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand logo-container" href="{% url 'hello_heroes' %}">
      <img src="{% static 'img/logo.png' %}" alt="SuperBook Logo" class="logo-img">
      <span class="logo-text">SuperBook</span>
    </a>

    <!-- Menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_herois' %}">Heróis</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_viloes' %}">Vilões</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'lista_posts' %}">Posts</a>
        </li>

      </ul>
    </div>
  </div>
</nav>