{% extends "base.html" %}

{% block title %}Lista de Posts{% endblock %}

{% block content %}
<h1 class="mb-4">Posts</h1>

<ul class="list-group">
  {% for post in posts %}
  <li class="list-group-item">
    <a href="{% url 'post_detail' post.pk %}" class="text-decoration-none text-dark">
      <div class="d-flex align-items-center justify-content-between mb-2">
        
        <div class="d-flex align-items-center">
          {% if post.autor.foto %}
            <img src="{{ post.autor.foto.url }}" class="hero-avatar-post me-2" alt="{{ post.autor.codinome }}">
          {% endif %}
          <strong>{{ post.autor.codinome }}</strong>
        </div>

        <small class="text-muted">{{ post.criado_em|date:"d/m/Y H:i" }}</small>
      </div>
      
      <p class="mb-1">{{ post.mensagem }}</p>
    </a>

    <span class="badge bg-primary rounded-pill">
      {{ post.comentarios.count }} comentários
    </span>
  </li>
  {% empty %}
  <li class="list-group-item text-center text-muted">
    Nenhum post encontrado.
  </li>
  {% endfor %}
</ul>
{% endblock %}
